<h1>restaurants</h1>
<form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form>
<ul>
  <% @restaurants.each do |restaurant| %>

    <p><%= restaurant.name %></p>
    <p><%= restaurant.address %></p>
    <p><%= "*" * restaurant.rating %></p>
  <% end %>
</ul>
